body {
  padding: 2rem;
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);  font-size: 1.5rem;
  color: white;
}

input {
  accent-color: red;
}

legend {
  background: white;
  padding: 0.2em 1em;
  color: #061e22;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* My code starts here */
.slider{
    display: inline-block;
    width: 100%;
}

.slidecontainer{
    margin-top: 1rem;
    border: 1px solid white;
}