body {
  background-color: #09233c;
  font-family: optima;
  color: black;
}

.grid-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "grid-item-1 grid-item-1 grid-item-1"
    "grid-item-2 grid-item-2 grid-item-3"
    "grid-item-4 grid-item-5 grid-item-5"
    "grid-item-4 grid-item-6 grid-item-7"
    "grid-item-8 grid-item-6 grid-item-9";
}
.grid-item {
  background: #002d4f;
  border: 1px solid #00487e;
  padding: 100px;
  margin: 10px;
}

.grid-item-1 {
  background-image: url(images/1280-squat-barbell-james-michelfelder.webp);
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: grid-item-1;
  text-align: center;
}

.grid-item-2 {
  grid-area: grid-item-2;
  background-image: url(images/diet-chart.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.grid-item-3 {
  background-image: url(images/AdobeStock_251005589-1024x712.jpeg);
  background-size: cover;
  grid-area: grid-item-3;
  text-align: center;
}

.grid-item-4 {
  grid-area: grid-item-4;
}

.grid-item-5 {
  grid-area: grid-item-5;
}
.grid-item-6 {
  grid-area: grid-item-6;
}

.grid-item-7 {
  grid-area: grid-item-7;
}

.grid-item-8 {
  grid-area: grid-item-8;
}

.grid-item-9 {
  grid-area: grid-item-9;
}
