@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Moderate-blue: hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);

  /* Neutral */

  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}

body {
  position: relative;
  background: var(--Light-gray);
  font-family: "Rubik", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  font-size: 1rem;
  color: var(--Dark-blue);
}

main {
  width: 60%;
  /* outline: 1px solid var(--Soft-Red); */
  margin: 4rem auto;
}

.container {
  width: 100%;
  background: var(--White);
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 0.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  background: var(--Light-gray);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter img{
  width: 15px;
}

.wrapper{
  width: 90%;
}

.commentInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.profilePicture {
  width: 30px;
  height: 30px;
}

.deleteBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.deleteBtn p {
  color: var(--Soft-Red);
  font-weight: 500;
  margin-left: 5px;
}

.editBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.editBtn p {
  color: var(--Moderate-blue);
  font-weight: 500;
  margin-left: 5px;
}

.createComment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 70%;
  min-height: 6rem;
  padding: 1rem;
  border: 1px solid var(--Light-grayish-blue);
  border-radius: 5px;
  resize: none;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: var(--Grayish-Blue);
}

.cta {
  background: var(--Moderate-blue);
  color: var(--White);
  padding: 0.6rem 1.3rem;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 2.5rem;
}

.modal{
  position: absolute;
  background: var(--White);
  padding: 2rem;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  display: none;
} 