.slide {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  background: var(--primary);
  display: none;
}

.slide.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: none;

  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: none;

  background: var(--tertiary);
  color: var(--primary);
  font-size: 1.5rem;
  padding: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text {
  text-align: center;
  width: 85%;
}

.arabicText {
  font-size: 3rem;
  line-height: 1.8;
}

.engText {
  font-size: 1rem;
  margin-block: 1.2rem 1.4rem;
  line-height: 1.5;
}

.reference {
  font-size: 0.8rem;
}

/* Prayers Section */
.prayers{
  text-align: center;
    margin-block: 2rem;
}

.prayers h1{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.prayer{
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--dark);
}

.prayer .arabicText{
  color: var(--logo);
}

.prayer .engText,
.prayer .reference{
  color: var(--primary);
}

@media (max-width: 768px) {
  .text {
    width: 95%;
  }


  .btn {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .arabicText {
    font-size: 2rem;
  }

  .engText {
    font-size: 0.7rem;
  }

  .reference {
    font-size: 0.5rem;
  }
}
