@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #fff;
  --secondary: #faf7ff;
  --tertiary: #9f9fed;
  --quoteText: #272727;
  --referenceText: #35373e;
  --logo: #5c60e1;
  --dark: #0B132B;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  margin-block: 2rem;
}

/* Style for loading screen */
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Opening SVG */
.opening {
  color: #fccb06;
}

nav {
  background: var(--primary);
  color: var(--logo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--logo);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  margin: 5px;
  border-radius: 5px;
  background: var(--logo);
}

.authBtn {
  background: var(--logo);
  color: var(--primary);
  font-size: 0.9rem;
  padding: 0.6rem 1.3rem;
  border-radius: 5px;
  cursor: pointer;
}

#profile-section {
  position: relative;
  display: flex;
  
}

.dropdown{
  background: var(--logo);
  color: var(--primary);

  position: absolute;
  top: 75px;
  right: 0;
  /* transform: translateX(50%); */
  display: none;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
}

.dropdown.active{
  display: flex;
  gap: 1rem;
}

.dropdown p,
.dropdown a{
  cursor: pointer;
}

.dropdown p:hover,
.dropdown a:hover{
  text-decoration: underline;
}

#logout-button{
  color: var(--primary);
}


#user-email{
  width: fit-content;
}

#avatar {
  background: var(--logo);
  color: var(--primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.utilityWrapper{
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  ul {
    display: none;
  }

  .openMenu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #fff;
  }

  .hamburger {
    display: block;
    z-index: 10000;
  }
}
