@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fff;
    --secondary: #f7f8f9;
    --quoteText: #272727;
    --referenceText: #35373e;
    --logo: #5c60e1;
  }

body{
    font-family: 'Roboto', sans-serif;
}

.slide{
    position: relative;
    min-height: 100vh;
    background: var(--primary);
    display: none;
}

.slide.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons{
    position: absolute;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background: var(--secondary);
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.text{
    text-align: center;
    width: 75%;
}

.arabicText{
    font-size: 3rem;
}

.engText{
    font-size: 1.2rem;
    margin-block: 1.2rem 1.4rem;
}

.reference{
    font-size: 0.9rem;
}