button {
  font-size: 1em;
  background: #3498db;
  color: #fff;
  border: 0.25rem solid #3498db;
  padding: 0.6em 1.3em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button:hover {
  color: #3498db;
}
button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.6em 1.3em;
  display: block;
}
button[class^="grow"]::after {
  transition: all 0.3s ease;
}
button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}

button.grow_skew_forward::after {
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
}

button.grow_skew_forward:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}